html, body {
    min-height: 100%;
    overflow: auto;
}
* {
    border: 1px solid red;
    color: #434544;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
    
}
body {
    width: 100%;
    height: 100%;
    margin: 0;
    background: linear-gradient(to bottom left, cyan, magenta);
    background-size: cover; 
    background-position: bottom;
    background-repeat: no-repeat;   
}
nav {
    /* background: linear-gradient(to left, cyan, magenta); */
    padding: 20px;
    width: 200px;
    margin: auto;
    margin-top: 50px;
    border-radius: 50px;
    background: rgba(241, 235, 245, 0.4);
    text-align: center;

}

nav div {
    display: inline-block;
    background: rgba(241, 235, 245, 0.6);
    padding: 20px;
    border-radius: 50px;
    width: 18%;
    text-align: center;



}

nav div:hover {
    background: rgba(241, 235, 245, 0.8);

}

#content {
    margin: auto;
    margin-top: 30px;
    width: 70%;

    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    position: relative;
    background: rgba(241, 235, 245, 0.5);
    border-radius: 40px;
    overflow: auto;
}

footer {
    height: 100px;
    margin-top: 300px;
}
.list-name {
    text-align: center;
    background: rgba(241, 235, 245, 0.6);
    border-radius: 30px;
    width: 50%;
    margin: auto;
    padding: 20px;
}

.new-project-form {
    width: 70%;
    padding: 100px;
    position: absolute;
    display: none;
    top: 70px;
    justify-self: center;
    border-radius: 40px;
    grid-template-rows: 1fr 1fr;
    align-content: space-around;

    align-content: center;
    grid-gap: 15px;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    background-color: rgba(241, 235, 245);
    box-shadow: -10px 10px 20px grey;


}

input, select {
    border-radius: 20px;
    height: 50px;
    padding-left: 20px;
    font-size: 30px;
    border: 1px solid grey;
}
input[type=date], select {
    width: 60%;
}

.edit-item-form {
    display: grid;
}

.add-item-form {
    display: none;

}

.add-item-form, .edit-item-form {
    margin: auto;
    padding: 150px;
    position: absolute;
    top: 70px;
    justify-self: center;
    border-radius: 40px;
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 15px;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    background-color: rgba(241, 235, 245);
    box-shadow: -10px 10px 20px grey;
}

.add-item-btn, .edit-form-btn, .new-project-btn {
    padding: 10px;
    border-radius: 30px;
    background: rgba(0, 255, 255, .5);
    font-size: large;
    border: none;

}

.new-project-btn {
    padding: 20px;
}
.add-item-btn:hover, .edit-form-btn:hover, .new-project-btn:hover {
    background: rgba(0, 255, 255, .7);
}

.close-popup {
    border: none;
    align-self: start;
    justify-self: end;
    position: absolute;
    border-radius: 50%;
    right: 20px;
    top: 20px;
}
.close-popup:hover {
    color:grey;
}

.item-expand {
    margin: auto;
    padding: 100px 150px;
    width: 100%;
    position: absolute;
    top: 70px;
    justify-self: center;
    display: grid;
    grid-template-columns: 3fr 5fr 2fr 1fr;
    justify-content: space-between;
    grid-gap: 23px;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    background-color: rgba(241, 235, 245);
    box-shadow: -10px 10px 20px grey;
    border-radius: 40px;
    font-size: large;


}

.item-section-wrapper div {
    margin-top: 10px;
}
.item-section-wrapper label {
    font-weight: bold;
}
.form-section-wrapper {
    display: grid;
    grid-template-columns: 1fr;
}
/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }


.item-form label {
    margin-top: 10px;
    margin-bottom: 5px;
}
/* .item-form  input[type=date] {
} */
.item-form select {
    margin-bottom: 10px;
}

.projects {
    align-self: start;

}
.projects h2 {
    background: rgba(241, 235, 245, 0.7);
    border-radius: 30px;
    padding: 20px 40px;
    font-size: 30px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 15px;
    width: 50%;
}

.project {
    margin: 10px 0px;
    background: rgba(241, 235, 245, 0.5);
    border-radius: 30px;
    padding: 20px 30px;
    width: fit-content;


}
.project:hover {
    background: rgba(241, 235, 245, 0.7);

}
.list {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0;
}
.list-item {
    margin: 0px 10px 20px 10px;
    /* margin-bottom: 20px; */
    display: grid;
    align-items: center;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 5fr 1fr 1fr;
    justify-content: space-between;
    padding: 30px;
    background: rgba(241, 235, 245, 0.7);
    border-radius: 30px;
    animation: fadeIn 1s;
    overflow: auto;
}

.list-item:hover {
    background: rgba(241, 235, 245, 0.9);

}
.list-container {
    overflow: auto;
}

@media (max-width: 1250px) {

    .task-body {
        text-align: center;
        padding-left: 30px;
    }


    #content {
        width: 90%;



    }
    .add-project-popup {
        width: 45px;

    }
    .add-item-popup {
        width: 45px;


    }

}

@media (max-width: 700px)  {
    #content {
        grid-template-columns: 1fr;
        padding: 5px;
        margin: 10px;

    }
    .list-item {
        margin-left: 0;
        margin-right: 0;
        grid-template-columns:repeat(3, 1fr);
    }
    .priority-circle, .edit-btn, .expand-btn   {
        display: none !important;
    }
    .projects {
        margin-top: 50px;
        order: 1;
        text-align: center;
    }
    .projects h2 {
        margin: auto;
    }
    .project {
        display: inline-block;
        margin-left: 3px;
        margin-right: 3px;
        margin-bottom: 0px;
    }
    
}

.edit-btn {
    align-self: start;
    justify-self: end;
    border-radius: 10px;
    padding: 10px;
    border: none;
    background:none;
}
.edit-btn:hover, .expand-btn:hover {
    color:darkmagenta;
}
.expand-btn {
    background: none;
    border: none;
}
.check-container {
    align-self: start;
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
  }
  
  /* Hide the browser's default checkbox */
  .check-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    left: 10px;
    top: 20px;
    height: 25px;
    width: 25px;
    background-color: #eee;
    transform: scale(2.3);
    border-radius: 15px;
    border: 3px solid darkcyan;

  }
  
  /* On mouse-over, add a grey background color */
  .check-container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .check-container input:checked ~ .checkmark {
    background-color: #eee;
  }

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .check-container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .check-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid #02f70b;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

