html {
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
    margin: 0;
    background: linear-gradient(to bottom left, cyan, magenta);
    background-size: cover; 
    background-position: bottom;   
}
nav {
    /* background: linear-gradient(to left, cyan, magenta); */
    padding: 20px;
    width: 20%;
    margin: auto;
    border-radius: 50px;
    background: rgba(241, 235, 245, 0.6);

}
#content {
    margin: auto;
    margin-top: 50px;
    width: 50%;

    padding: 20px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    position: relative;
    background: rgba(241, 235, 245, 0.5);
    border-radius: 40px;
}

.list-name {
    text-align: center;
}




* {
    /* border: 1px solid red; */
    color: #434544;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
    
}

.new-project-form {
    padding: 30px;
    position: absolute;
    display: none;
    top: 70px;
    justify-self: center;
    grid-template-columns: 2fr 1fr;
    grid-gap: 15px;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    background-color: aqua;

}

.edit-item-form {
    display: grid;
}

.add-item-form {
    display: none;

}

.add-item-form, .edit-item-form {
    margin: auto;
    padding: 30px;
    position: absolute;
    top: 70px;
    justify-self: center;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 15px;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    background-color: aqua;
}

.form-section-wrapper {
    display: grid;
    grid-template-columns: 1fr;
}
/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }


.item-form label {
    margin-top: 10px;
    margin-bottom: 5px;
}
/* .item-form  input[type=date] {
} */
.item-form select {
    margin-bottom: 10px;
}

.projects {
    justify-self: end;
}
.projects h2 {
    font-size: 30px;
}

.list {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0;
}
.list-item {
    margin: 0px 10px 20px 10px;
    /* margin-bottom: 20px; */
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 4fr 1fr;
    justify-content: space-between;
    padding: 15px;
    background: rgba(241, 235, 245, 0.7);
    border-radius: 30px;

    
}

